In [8]:
import numpy as np
import pandas as pd
from scipy import stats
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()

In [9]:
click_data = pd.read_csv("D:/workspace/20201107/dataset-20201107T042837Z-001/dataset/5_10_cd.csv")
click_data

  color  click  freq
0  blue  click    20
1  blue    not   230
2   red  click    10
3   red    not    40

In [10]:
cross = pd.pivot_table(
    data=click_data,
    values = 'freq',
    aggfunc = 'sum',
    index = 'color',
    columns = 'click'
)
cross

click  click  not
color
blue      20  230
red       10   40

In [11]:
# 카이스퀘어 통계량, p값, 자유도, 기대도수표 손서대로 출력
# 카이스퀘어 검정 시 기대도수가 전부 5 이상이어야 함
# 검정 : p 값이 0.05 보다 작으며 색에 따라 버튼을 클릭하는 것이 유의미하다고 판단
stats.chi2_contingency(cross, correction=False)

(6.666666666666666,
 0.009823274507519247,
 1,
 array([[ 25., 225.],
        [  5.,  45.]]))